In [17]:
import pandas as pd
import numpy as np

In [18]:
import missingno as msno

In [6]:
df_completo = pd.read_csv("cs_bisnode_panel.csv")

In [7]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287829 entries, 0 to 287828
Data columns (total 48 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   comp_id               287829 non-null  float64
 1   begin                 287829 non-null  object
 2   end                   287829 non-null  object
 3   COGS                  18257 non-null   float64
 4   amort                 279789 non-null  float64
 5   curr_assets           287698 non-null  float64
 6   curr_liab             287698 non-null  float64
 7   extra_exp             269300 non-null  float64
 8   extra_inc             269300 non-null  float64
 9   extra_profit_loss     270626 non-null  float64
 10  finished_prod         17485 non-null   float64
 11  fixed_assets          287698 non-null  float64
 12  inc_bef_tax           280392 non-null  float64
 13  intang_assets         287689 non-null  float64
 14  inventories           287698 non-null  float64
 15  liq_assets            287698 non-null  float64
 16  material_exp          279789 non-null  float64
 17  net_dom_sales         18257 non-null   float64
 18  net_exp_sales         18257 non-null   float64
 19  personnel_exp         279789 non-null  float64
 20  profit_loss_year      277945 non-null  float64
 21  sales                 280392 non-null  float64
 22  share_eq              287698 non-null  float64
 23  subscribed_cap        287698 non-null  float64
 24  tang_assets           286359 non-null  float64
 25  wages                 17983 non-null   float64
 26  D                     0 non-null       float64
 27  balsheet_flag         287829 non-null  int64
 28  balsheet_length       287829 non-null  int64
 29  balsheet_notfullyear  287829 non-null  int64
 30  year                  287829 non-null  int64
 31  founded_year          231372 non-null  float64
 32  exit_year             38859 non-null   float64
 33  ceo_count             231402 non-null  float64
 34  foreign               231402 non-null  float64
 35  female                231402 non-null  float64
 36  birth_year            176011 non-null  float64
 37  inoffice_days         231402 non-null  float64
 38  gender                231402 non-null  object
 39  origin                231402 non-null  object
 40  nace_main             286791 non-null  float64
 41  ind2                  286791 non-null  float64
 42  ind                   278060 non-null  float64
 43  urban_m               287829 non-null  int64
 44  region_m              286989 non-null  object
 45  founded_date          287778 non-null  object
 46  exit_date             56180 non-null   object
 47  labor_avg             141297 non-null  float64
dtypes: float64(36), int64(5), object(7)
memory usage: 105.4+ MB

In [19]:
df = df_completo.drop(['COGS', 'finished_prod', 'net_dom_sales','net_exp_sales', 'wages', 'D'], axis = 1)

In [31]:
columns_count = pd.DataFrame((col, df[col].count()) for col in df.columns)

columns_count = columns_count[columns_count[1]==287829]

columns_count

                       0       1
0                comp_id  287829
1                  begin  287829
2                    end  287829
21         balsheet_flag  287829
22       balsheet_length  287829
23  balsheet_notfullyear  287829
24                  year  287829
37               urban_m  287829